set_io --warn-no-port clk_2MHz 45
set_io --warn-no-port dout 47
set_io --warn-no-port din 46
set_io --warn-no-port cs 2
set_io --warn-no-port output1 12
set_io --warn-no-port output2 21
set_io --warn-no-port c1 23
set_io --warn-no-port c2 25
set_io --warn-no-port c3 26
set_io --warn-no-port c4 27
